/* ---------Author: Md Mostafizur Rahman----------- */

/* ---------Font added ----------*/
@font-face {
    font-family: Galada;
    src: url(../fonts/Galada/Galada-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

/* ---------Global Section----------- */
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

/* ---------Header Menu Section--------- */

header {
    height: 60px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ececec;
}

.brand h3 {
    font-size: 30px;
    color: #3A3A3A;
}

.menu-item>ul {
    display: flex;
}

.menu-item>ul>li {
    margin: 10px;
    list-style: none;
}

.menu-item>ul>li>a {
    text-decoration: none;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: Poppins;
    color: #3A3A3A;
    padding: 2px 5px;
}

/* ---------End of Header Area--------- */

.header-area {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;

}

.header-text {
    margin-top: 70px;
    padding-right: 100px;
}

.header-text h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 55px;
}

.header-text button {
    margin-top: 20px;
    background-color: #3A3A3A;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0px 4px 7px -2px #000000;
    cursor: pointer;
    transition: all .2s linear;
}

button:hover {
    box-shadow: none;
}

.header-img {
    background-image: url(../images/Circle\ design.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------End of Header Section--------- */

.logo-section {
    margin-bottom: 70px;
}

hr {
    width: 70%;
    border-top: 2px solid #aa8e8e;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/*----- End of Logo section------------ */

.popular-collection {
    margin-bottom: 50px;
}

.Collection-text {
    text-align: center;
    margin: 5px 0 20px 0;
    font-weight: bold;
    font-size: 50px;
    color: #3A3A3A;
}

.collection-area {
    display: flex;
    justify-content: center;
}

.card-area {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20PX;
    padding: 20PX;
    box-shadow: 1px 10px 24px 6px rgba(191, 127, 127, 0.75);
}

.card img {
    text-align: center;
    transition: all .2s ease-in;
}

.card>img:hover {
    transform: scale(1.1);
}

.rating ul {
    display: flex;
    margin-left: -40px;
}

.rating ul li {
    list-style: none;
    margin-right: 2px;
}

.card .fas,
.far {
    color: chocolate;
}

.card h2 {
    margin: 10px 0 0 0;
    font-size: 25px;
    color: #18191F;
}

.rate {
    font-size: 30px;
    color: #000000;
}

.card-text {
    line-height: 6px;
    font-weight: bold;
    color: #787885;
}

.see-more {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.see-more a {
    width: 120px;
    margin-top: 20px;
    background-color: #3A3A3A;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0px 4px 7px -2px #000000;
    cursor: pointer;
    transition: all .2s linear;
    text-align: center;

}

.see-more a>i {
    margin-left: 10PX;
    margin-top: 3px;
}

.see-more a:hover {
    box-shadow: none;
}

/* -----------End of popular-collection ---------------*/

.subscribe-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.subscribe{
    background-image: url(../images/subs.jpeg);
    width: 70%;
    height: 768px;
}

.subscribe-text{
    margin-top: 600px;
}


.subscribe-text h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.subscribe-text p{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscribe-text a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #3A3A3A;
    border-radius: 5px;
    transition: all .2s linear;
}

.subscribe-text> a:hover{
    background-color: #7b7be2;
    color: #ffffff;
}
/* --------End of subscribe-section------------- */

.container{
    display: flex;
    font-family: poppins;
    justify-content: center;
    margin-bottom: 100px;
}

.signup-form{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 7px -2px #000000;
}
.signup-form .title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}


.signup-form form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #3A3A3A;
}

.user-details .input-box input{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #3A3A3A;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: bold;
}

form .button{
    display: flex;
    justify-content: center;
}

form .button input{
    outline: none;
    color: #ffffff;
    background-color: #3A3A3A;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0px 4px 7px -2px #000000;
    transition: all 0.3s ease;
}

.button input:hover{
    box-shadow: none;
}
/*------------ End of signuo section -----------*/

footer{
    background-color: #7b7be2;
    text-align: center;
    padding: 20px 0 10px 0;
}

footer h2{
    font-weight: bold;
    color: #fff;
}

footer p{
    color: #fff;
}
footer .right{
    color: #3A3A3A;
}

.social-icon{
    text-align: center;
}

.social-icon ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icon ul li{
    display: inline-block;
}

.fab{
    padding: 10px;
    font-size: 17px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 2px 5px black;
    transition: all 0.3s;
}








